body {
  margin: 15px auto 100px;
  background-color: #d7d7d7;
}

.container {
  /*margin-bottom: 1px;*/
  /*height: 70%;*/
  /*width: 85%;*/
  /*position: relative;*/
  /*padding-bottom: 5rem;*/
  /*overflow: scroll;*/
}

.container h1 {
  text-align: center;
}

/* Sticky footer */
.footer {
  /*display: inline-block;*/
  /*position: absolute;*/
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
  /*height: 20%;*/
  /*background-color: darkturquoise;*/
  text-align: center;
  color: darkslategray;
  font-size: 10px;
  margin-top: 10px;
}

.footer a {
  color: darkslategray;
  font-size: 10px;
}

.themes {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.themes p {
  margin-bottom: 5px;
}


.tableWrapper {
  border-radius: 5px;
  padding: 20px;
  background-color: whitesmoke;
}

.table {
  border-style: hidden;
}

.table th{
  border-top: none;
}

.table td {
  /*background-color: #f9f9f9;*/
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  /*border-radius: 5px;*/
}

.titles {
  /*color: #c3073f;*/
  color: black;
  /*text-align: left;*/
}

.subtitles {
  color: #606062;
  text-align: left;
  /*margin-left: 20px;*/
}

#addItemButton {
  background-color: #c3073f;
  color: whitesmoke;
}

#deleteItemButton {
  background-color: #bababc;
  color: black;
}

.colors {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /*margin: 5px;*/
  /*margin-top: 5px;*/
  margin-left: 5px;
  margin-right: 5px;
}

#theme1 {
  border: 2px solid black;
  background-color: white;
}

#theme2 {
  border: 2px solid darkgray;
  background-color: black;
}

