

 body {
    padding-top: 100px;
    background: black;
    font-color: white;
    font-family: courier;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.8)), url('./wallpaper/inspiration-geometry.png');
 }

   h1 {
        text-align: center;
        font-size: 36px;
        color: white;
        padding: 20px;
      }


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 100px;
  margin-top: 50px

}

#datetime, #weather-art {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

 .box {
        //width: calc(33.33% - 20px);
        width: 300px;
        min-width: 300px;
        margin: 10px;
        padding-top: 5%;
        background-color: white;
        height: 200px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        font-size; 20px;
      }

  .box-title {
        font-size: 30px;
        margin-bottom: 20px;
  }

  a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
  }

  a:hover {
      border-radius: 5px;
      color: lightgreen;
  }


.search-container {
    margin: auto;
    background-color: black;
    //padding: 10px;
    border-radius: 5px;
    margin-top: 1000xpx;
    //margin: 100px;
    width: calc(310px * 3);
    border: 1px inset lightgreen;
    white-space: nowrap; // prevent weird search bar wrap around
  }


  .search-input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0 10px;
    width: 60%;
    color: white;
  }

  .search-button {
    background-color: lightgreen;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
  }

@media only screen and (max-device-width: 414px) and (max-device-height: 896px){
    .box {
      width: calc(100% - 20px);
      font-size: 60px;
      height: auto;
      margin-bottom: 5%;
      padding-bottom: 50px;
      border-radius: 30px;
    }

a {
    margin-bottom: 100px;
    }

  .box-title {
        font-size: 70px;
        margin-bottom: 100px;
  }

    .container {
        margin: 10px;
    }

.search-container {
    display: none;
  }
}

