

 body {
    background: black;
    font-color: white;
    font-family: courier;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.8)), url('./wallpaper/inspiration-geometry.png');
 }

   h1 {
        text-align: center;
        font-size: 36px;
        color: white;
        padding: 20px;
      }


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
    margin: 100px;

}


 .box {
        width: calc(33.33% - 20px);
        margin: 10px;
        padding-top: 5%;
        background-color: white;
        height: 200px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        font-size; 20px
      }

  .box-title {
        font-size: 30px;
        margin-bottom: 20px;
  }

  a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
  }

  a:hover {
      color: pink;
    font-size: 25px;
  }

@media (max-width: 1000px) {
    .box {
      width: calc(100% - 20px);
      font-size: 60px;
      height: auto;
      margin-bottom: 5%;
      padding-bottom: 50px;
      border-radius: 30px;
    }

a {
    margin-bottom: 100px;
    }

  .box-title {
        font-size: 70px;
        margin-bottom: 100px;
  }

    .container {
        margin: 10px;
    }
}
